html{
    font-family: "Open Sans", serif;
    font-size: 20px;
    line-height: 34px;
    margin-top: 20px;
    background-color: #ffffff;
    max-width: 100%;
}
.wrapper{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background: lightslategrey;
}
.background{
    background: ghostwhite;
}

/*Menu contents including links*/
menu{
    padding: 0;
    margin: 0;
}
menu li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
menu li a{
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}
menu a:link:hover{
    color: #8d8d8d;
    text-decoration: none;
}

/*Carousel content*/
.carousel{
    width: 50%;
    display: block;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}
@keyframes fade{
    from {opacity: 0.4}
    to {opacity: 1}
}
.carousel_img{
    display: none;
}
.carousel_img img{
    width: 100%;
    animation-name: fade;
    animation-duration: 2s;
    border-radius: 20px;
    margin: auto;
}

/*Main page content including the title and paragraphs*/
.mainPage{
    font-family: "Open Sans Semibold", serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

/*Footer content*/
.footer {
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    font-size: 16px;
}
.footer-list{
    margin: 0 auto;
}
.footer-list:not(.address){
    display: flex;
    flex-direction: row;
}
.address{
    line-height: 10px;
}

/*Responsive media*/
@media (max-width: 411px) {
    menu li {
        font-size: 10px;
    }
    .mainPage p{
        font-size: 12px;
        line-height: 14px;
    }
    .footer{
        display: inline-block;
        font-size: 10px;
        line-height: 0;
    }
    .footer-list{
        display: flex;
        flex-direction: column;
        margin: 0 10px;
    }
}
